@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .form-section {
    display: inline !important
  }

  .form-pagebreak {
    display: none !important
  }

  .form-section-closed {
    height: auto !important
  }

  .page-section {
    position: initial !important
  }
}

.form-all {
  font-family: "Inter", sans-serif;
}

/* 2 - FORM WIDTH */
.form-all {
  max-width: 800px;
}

/* 5 - FONT SIZE */
.form-all {
  font-size: 16px;
}

/* 5 - input bg color */
.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: #ffffff;
}

/* 10 - LINE SPACING */
.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}

.supernova .form-all,
.form-all {
  background-color: #ffffff;
}

.supernova {
  background-color: #1c87c9;
}

.supernova body {
  background-color: transparent;
}

.form-all,
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label,
span.FITB .qb-checkbox-label,
span.FITB .qb-radiobox-label,
span.FITB .form-radio label,
span.FITB .form-checkbox label,
[data-blotid][data-type=checkbox] [data-labelid],
[data-blotid][data-type=radiobox] [data-labelid],
span.FITB-inptCont[data-type=checkbox] label,
span.FITB-inptCont[data-type=radiobox] label,
.form-sub-label {
  color: #2c3345;
}

/*PREFERENCES STYLE*/
/* 17 - INPUT WIDTHS */
/*  20 - FORM PADDING */
ul.form-section {
  padding: 0px 38px;
}

/* Heights */
li[data-type="control_textbox"] div[data-layout="half"],
li[data-type="control_dropdown"] div[data-layout="half"],
li[data-type="control_email"] div[data-layout="half"],
li[data-type="control_number"] div[data-layout="half"],
li[data-type="control_phone"] div[data-layout="half"],
li[data-type="control_datetime"] div[data-layout="half"] {
  width: 100% !important;
  max-width: 648px;
}

/* 11 - LINE PADDING */
/* LABEL STYLE */
.form-label {
  font-weight: bold;
}

.form-checkbox-item label,
.form-radio-item label {
  font-weight: 500;
}

/* 12 - ROUNDED INPUTS */
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0px;
}

.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}

.form-checkbox-item .form-checkbox+label,
.form-checkbox-item .form-checkbox+span {
  padding-left: 30px;
}

.form-radio-item .form-radio+label,
.form-radio-item .form-radio+span {
  padding-left: 30px;
}

.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}

.form-checkbox-item .editor-container div,
.form-radio-item .editor-container div {
  position: relative;
}

.form-checkbox-item .editor-container div:before,
.form-radio-item .editor-container div:before {
  display: inline-block;
  vertical-align: middle;
  left: 0;
  width: 20px;
  height: 20px;
}

.form-checkbox-item input,
.form-radio-item input {
  margin-top: 2px;
}

.form-checkbox:checked+label:before,
.form-checkbox:checked+span:before {
  background-color: #1c87c9;
  border-color: #1c87c9;
}

.form-radio:checked+label:before,
.form-radio:checked+span:before {
  border-color: #1c87c9;
}

.form-radio:checked+label:after,
.form-radio:checked+span:after {
  background-color: #1c87c9;
}

.form-checkbox:hover+label:before,
.form-checkbox:hover+span:before,
.form-radio:hover+label:before,
.form-radio:hover+span:before {
  border-color: rgba(28, 135, 201, 0.5);
  box-shadow: 0 0 0 2px rgba(28, 135, 201, 0.25);
}

.form-checkbox:focus+label:before,
.form-checkbox:focus+span:before,
.form-radio:focus+label:before,
.form-radio:focus+span:before {
  border-color: #1c87c9;
  box-shadow: 0 0 0 3px rgba(28, 135, 201, 0.25);
}

.submit-button {
  font-size: 16px;
  font-weight: 800;
  font-family: inherit;
  border-color: #1c87c9;
}

.submit-button {
  min-width: 180px;
}

li[data-type="control_button"] .form-submit-button {
  color: #ffffff;
  background-color: #1c87c9;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

li[data-type="control_button"] .form-submit-button:hover {
  background-color: #104b6f;
}

li[data-type="control_button"] button.jf-form-buttons.form-sacl-button,
li[data-type="control_button"] button.jf-form-buttons.form-submit-print {
  color: #1c87c9;
  border-color: #1c87c9;
  background-image: none;
  background-color: #fff;
}

li[data-type="control_button"] button.jf-form-buttons.form-sacl-button:hover,
li[data-type="control_button"] button.jf-form-buttons.form-submit-print:hover {
  background-color: #104b6f;
  color: #fff;
}

li[data-type="control_button"] button.jf-form-buttons.form-pagebreak-back {
  background-image: none;
  background-color: #104b6f;
  box-shadow: none;
  text-shadow: none;
}

li[data-type="control_button"] button.jf-form-buttons.form-pagebreak-back:hover {
  background-color: #092d43;
  color: #fff;
}

.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  min-width: 128px;
}

li[data-type="control_image"] div {
  text-align: left;
}

li[data-type="control_image"] img {
  border: none;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: false !important;
}

.supernova {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-attachment: fixed;
  background-size: auto;
  background-size: cover;
}

.supernova {
  background-image: none;
}

#stage {
  background-image: none;
}

/* | */
.form-all {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
}

.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}

.header-large h1.form-header {
  font-size: 2em;
}

.header-large h2.form-header {
  font-size: 1.5em;
}

.header-large h3.form-header {
  font-size: 1.17em;
}

.header-large h1+.form-subHeader {
  font-size: 1em;
}

.header-large h2+.form-subHeader {
  font-size: .875em;
}

.header-large h3+.form-subHeader {
  font-size: .75em;
}

.header-default h1.form-header {
  font-size: 2em;
}

.header-default h2.form-header {
  font-size: 1.5em;
}

.header-default h3.form-header {
  font-size: 1.17em;
}

.header-default h1+.form-subHeader {
  font-size: 1em;
}

.header-default h2+.form-subHeader {
  font-size: .875em;
}

.header-default h3+.form-subHeader {
  font-size: .75em;
}

.header-small h1.form-header {
  font-size: 2em;
}

.header-small h2.form-header {
  font-size: 1.5em;
}

.header-small h3.form-header {
  font-size: 1.17em;
}

.header-small h1+.form-subHeader {
  font-size: 1em;
}

.header-small h2+.form-subHeader {
  font-size: .875em;
}

.header-small h3+.form-subHeader {
  font-size: .75em;
}

.form-header-group {
  text-align: left;
}

div.form-header-group.header-large,
div.form-header-group.hasImage {
  margin: 0px -38px;
}

div.form-header-group.header-large,
div.form-header-group.hasImage {
  padding: 40px 52px;
}

.form-header-group .form-header,
.form-header-group .form-subHeader {
  color: -1;
}

.form-line-error {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: rgba(255, 244, 244, 0);
}

.form-line-error .form-error-message {
  background-color: #f23a3c;
  clear: both;
  float: none;
}

.form-line-error .form-error-message .form-error-arrow {
  border-bottom-color: #f23a3c;
}

.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
  border: 1px solid #f23a3c;
  box-shadow: 0 0 3px #f23a3c;
}

.form-line-error {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: rgba(255, 244, 244, 0);
}

.form-line-active {
  background-color: rgba(241, 245, 255, 0);
}

/* 29 - FORM COLUMNS */

/*__INSPECT_SEPERATOR__*/
[data-type="control_text"] {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

[data-css-selector="id_313"] label.form-label {
  display: none !important;
}

[data-css-selector="id_313"] {
  margin: -10px 0px 0px 0px !important;
}

.form-matrix-headers.form-matrix-headers {
  background: #1C87C9 !important;
  color: #fff !important;
}

[data-css-selector="id_317"] input.form-textbox {
  width: 800px !important;
}

[data-css-selector="id_403"] input.form-textbox {
  width: 800px !important;
}

[data-css-selector="id_393"] input.form-textbox {
  width: 800px !important;
}